body {
    font-family: 'Poppins', sans-serif;
}

main {
    background-color: black;
}



.container .images .img-1 {
    background: url(../images/pagina-718/desempenho.jpg) center center no-repeat;
    background-size: cover;
    min-height: 110vh;
}

.dados {
    margin-top: 525px;
    margin-left: 20px;
    display: flex;
    align-items: end;
    justify-content: center;
    color: var(--text-color);
}

.dados .conteudo {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 30px;
}

.dados .conteudo h3 {
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.dados .conteudo h3:hover {
    color: var(--hover-color);
}

.dados .conteudo p {
    font-size: 16px;
    font-weight: 300;
}

.container .images .img-2 {
    background: url(../images/pagina-718/detalhes.jpg) center center no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.container .images .title {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 100px;
    padding-top: 150px;

}

.infos {
    min-height: 50vh;
    display: flex;
    background-color: #000;
}

.infos .img {
    height: 500px;
    max-width: auto;
    color: var(--text-color);
    margin-top: 90px;
}

.infos .container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.infos .sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: var(--text-color);
    margin-top: 70px;
}

.infos .sobre h2 {
    margin: 20px 20px;
    color: var(--718-color);
}

.infos .sobre p {
    font-size: 16px;
    font-weight: 300;
    width: 770px;
}

.infos .sobre li {
    font-size: 16px;
    font-weight: 300;
    width: 770px;
    list-style-type: square;
    padding-left: 15px;
}