body {
    font-family: 'Poppins', sans-serif;
}

main {
    background-color: black;
}

.container .history {
    background: url(../images/porsche\ logo\ wallpaper.jpg) center center no-repeat;
    background-size: cover;
    min-height: 110vh;
    transition: 1.5s;
}

.container .history:hover {
    opacity: 0.3;
}

.container .history .title-1 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 90px;
    padding-top: 200px;
    opacity: 0;
}

.container .history:hover .title-1 {
    opacity: 1;
    transition: 1.5s ease-in-out;
    transform: translateY(150px);
}

.gt3-911 {
    background: black url(../images/911-principal.jpg) center center no-repeat;
    background-size: cover;
    min-height: 110vh;
    width: 100%;
}


.gt3-911 .title-2 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 90px;
    padding-top: 100px;
}

.cayman-718 {
    background: black url(../images/718-principal.jpg) center center no-repeat;
    background-size: cover;
    min-height: 95vh;
    max-width: 100%;
}

.cayman-718 .title-3 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 90px;
    padding-top: 80px;
}

.gt3-911,
.cayman-718 {
    visibility: hidden;
}

.infos {
    min-height: 50vh;
    display: flex;
    background-color: #000;
}

.infos img {
    height: 500px;
    max-width: auto;
    color: var(--text-color);
}

.infos .container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.infos .sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: var(--text-color);
}

.infos .sobre h2 {
    margin: 20px 20px;
}

.infos .sobre .title-911{
    color: var(--911-color);
}

.infos .sobre .title-718{
    color: var(--718-color);
}

.infos .sobre p {
    font-size: 16px;
    font-weight: 300;
    width: 770px;
}

.infos .dados {
    margin-top: 65px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}

.infos .dados .conteudo {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.infos .dados .conteudo h3 {
    font-size: 16px;
    display: flex;
    justify-content: center;
}

.infos .dados .conteudo h3:hover {
    color: var(--hover-color);
}

.infos .dados .conteudo p {
    font-size: 16px;
    font-weight: 300;
}

.infos .container .btn {
    display: flex;
    justify-content: center;
    margin: 25px 80px;
}

.infos .container .btn.btn-911{
    color: var(--911-color)
}

.infos .container .btn.btn-718{
    color: var(--718-color)
}